@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A1A19;
  --foreground: #F9F8F4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
